<nav class="footerNav">
    {{> partial_nav}}
</nav>
<footer class="GoldFooter">
    <ul class="list">
        <li>
            <a href="{{#pagePath langPath lang.MENU_BLOG}}{{/pagePath}}">{{lang.MENU_BLOG}}</a>
        </li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li>
            <a href="{{#pagePath langPath lang.MENU_CONTACTO}}{{/pagePath}}">{{lang.CONTACTO}}</a>
        </li>
        <li><a href="/es">Español</a></li>
        <li><a href="/en">Ingles</a></li>
    </ul>
</footer>